@font-face{
    src: url(../FONTS/bpg_nino_mtv_cond.woff);
    font-family:'bpg_nino_mtv_condCnRg';
}
@font-face{
    src: url(../FONTS/bpg_glaho_2.woff);
    font-family:'bpg_glaho_2';
}

header{
    max-width: 100%;
}
.container{
    background-color:#2d3e50 ;
    position: relative;
    max-width: 100%;
}
.menu{
    position: relative;
    display: flex;
    align-items: center;
}
.arrow{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.logo{
    padding: 5px;
    margin-left: 55px;
}

.bar{
    display:block; 
}

.nav-ul{
    margin-left: 35px;
    display: flex;
    vertical-align: middle;
}

.nav-li a{
    color: #fff;
    /* margin-left: 15px; */
}

.nav-li{
    margin-left: 20px;
    font-size: 19px;
    font-family:'bpg_nino_mtv_condCnRg';
}

.nav-li::after{
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    background-color: #ffcc29;;
    transition: width 0.3s;
}

.nav-li:hover::after{
    width: 100%;
    transition: width .3s;
    color:#ffcc29;
    transition-delay: 0.15s;
    transition-duration: linear;
}


.bar ul li a{
    margin-top: -35px;
    color: black;
    width: 100%;
}
.nav-li::after:hover{
    content: '';
    display: inline;
    transition-delay: 0.s;
}


.bar ul{
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    margin-top: 32px;
    background-color: white;
    position: absolute;
    z-index: 1111;
}

.bar ul li:hover{
    background-color: #ffcc29;
    cursor: pointer;
    color: black;
}


.bar ul li a:hover{
    color: black;
}

.bar ul li{
    /* position: relative; */
    /* z-index:12; */
    display: none;
    top: 10px;
    background-color: #fff;
    font-family:'bpg_nino_mtv_condCnRg';
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.nav-li a:hover{
    color:#ffcc29;
}
.nav-li:hover ul li{
    display: block;

}
.clear{
    clear: both;
}

.purple-box{
    align-items: center;
    height: 84px;
    width: 250px;
    right: 0px;
    position: absolute;
    display: flex;
    background-color: rgba(132, 67, 151, 1); 
    justify-content: space-between;
    margin-left: 10px;
    /* padding: 100 20px; */
}
.search{
    margin-left: 10px;
    font-size: 19px;
    font-family:'bpg_nino_mtv_condCnRg';
    display: flex;
    justify-content: space-between;
}
.search img{
    margin-left: 10px;

}
.lang{
    align-items: center;
}

.language{
    font-size: 19px;
    font-family:'bpg_nino_mtv_condCnRg';
    display: flex;
    justify-content: space-between;
    margin-right:60px;
}
*{
    list-style: none;
}
.white{
    color: #fff;
}

  /* /SLIDER/ */
slider{
    display: block;
    width: 100%;
    height: 700px;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}
slider > * {
    position: absolute;
    display: block;
    width: 100%;
    width: 100%;
    /* background: #1f1f1f; */
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(slide.jpg);
    background-size: cover;
    background-position: center;
}

slide img{
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #fff;
}
slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(slide1.png);
    background-size: cover;
    background-position: center;
}
slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(slide1.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url();
    background-size: cover;
    background-position: center;
}

@keyframes slide {
    0% { left:100%; width: 100%;}
    5% { left:0%;}
    25% { left:0%}
    30% { left:-100%; width: 100%;}
    30.0001% { left:-100%; width: 0%;}
    100% { left:100%; width: 0%;}
}

/* warning */
.warn{
    background-color: #ffcc29;
    position: absolute;
    right: 70px;
    top: 160px;
    display: flex;
    padding: 15px;
}
.warn-li a{
    color: black;
    opacity: 0.7;
}
.warn-li{
    list-style: none;
    font-family:'bpg_nino_mtv_condCnRg';
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin-right: 15px;
}

/* purple list */
.bottom{
    position: relative;
}

.purple-list{
    /* font-family:'bpg_nino_mtv_condCnRg'; */
    align-items: center;
    padding: 30px;
    width: 100%;
    /* z-index: 999999999; */
    opacity: 0.9;
    justify-content: space-between;
    display: flex;
    position: absolute;
    background-color: rgba(132, 67, 151, 1);
    top: 630px;
 }


.purple-list div{
    position: static;
}
.mobile{
    text-align: center;
}
.mobile li{
    width: 280px;
}

 .purple-list img:nth-child(1){
     width: 100px;
     padding: 10px;
 }

 .purple-list div a{
     text-align: center;
    color: white;
 }

 /* NEWS */
.dear{
    position: static;
    width: 100%;
    z-index: 1000;
    align-items: flex-end;
    display: flex;
    
}

 .news p{
     width: 100%;

 }


/* staties */



/* .hexigon div li{
    font-family:'bpg_nino_mtv_condCnRg';
    color: #fff;
    font-size: 18px;
} */
.li-format{
    color:black;
    font-family:'bpg_glaho_2';
    /* font-weight: bold;
    opacity: 0.6; */
    font-size: 0.9em
}

.hover:hover{
    color: rgba(132, 67, 151, 1);   
}

.since{
    font-size: 13px;
    color:black;
    font-family:'bpg_glaho_2';
}
.d-flex{
    display: flex;
}

.news-li{
    display: flex;
    font-size: 21px;
    font-family:'bpg_nino_mtv_condCnRg';
    color: rgba(132, 67, 151, 1);   
    font-weight: bold;
    margin-bottom: 15px;
}

.line-purp{
    margin-top: -10px;
    content: '';
    height: 2px;
    background-color:rgba(132, 67, 151, 1);
}

.margin{
    margin-top:15px;
}

.li-format{
    padding:3px 0px;

}
/* .margin5px{
    padding-bottom:15px;
}

.margin15px{
    margin-bottom: 15px;
} */

.a-news{
    margin-top: 5px;
    margin-left: 5px;
    color: black;
    font-family:'bpg_nino_mtv_condCnRg';
    font-size: 16px;
    font-weight: bold;
}
.a-news::after{
    content: '';
    width: 30%;
    height: 1px;
    background-color:rgba(132, 67, 151, 1); 
}
.news li{
    display: flex;
}
/* .news{
    width: 30%; */



.cube{
    margin-top: 15px;
}
.cube li{
   /* padding-bottom: -25px; */
   margin-left: 10px;
   padding-top:5px;
}
.poligon{
    width: 100%;
    margin-top:750px;
}
.hexigon{
    width: 1300px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.news{
    width: 600px;
    display: flex;
    flex-direction: column;

}
.multimedia{
    width: 700px;
    display: flex;
    flex-direction: column;
    padding:0 70px 0 70px;
    /* margin-left: 50px;
    margin-right: 50px; */
}
.tolerant{
    width: 600px;
    display: flex;
    flex-direction: column;
}

/* SUBSCRIBE ! */

.border{
    border: 2px solid #BDC3C7!important;
    border-radius: 250px;
    border-radius: 10px!important;
    padding: 20px 15px 20px 15px;
    display: block;
}
.subscribe{
    width: 270px;
    margin-top: 20px;
}
.border-text-purple{
    line-height: 100%;
    font-size: 20px;
    color:#8E44AD;
    opacity: 0.95;
    font-family: Arial!important;
}
.border li{
    line-height: 100%;
    padding: 5px; 
    font-family: Arial!important;
}

.input-mail input{
    padding: 5px; 
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 225px;
    height: 35px;
    border-color: #BDC3C7;
}
.purple-button{
    background-color:#8E44AD;
    border-radius: 5px!important;
}
button li{
    cursor: pointer;
    width: 210px;
    height: 30px;
    color: #fff;
    font-family: Arial!important;
    font-size: 16px;
    align-items: center;
}
.footer-box{
    justify-content: space-around;
    display: flex;
    margin-top: 50px;
    height: 130px;
    background-color: #2d3e50;
}
.end-container{
    display: flex;
    padding-top: 30px;
}
.infos{
    margin-left: 15px;
    padding-top: 30px;
    display: flex;
}

.infos a{
    margin-left: 15px;
}
.end-container li{
    font-size: 19px;
    font-family:'bpg_nino_mtv_condCnRg';
     margin-left: 15px;
}
.end-container li a:hover{
    color: #ffcc29;
    cursor: pointer;
}
.end-container li a{
    color: #fff;
}

.develop{
    flex-wrap: wrap;
}